body {
  padding-top: 60px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group-addon {
  min-width: 100px;
}

.node {
  cursor: pointer;
  fill: red;
}

.self {
  stroke: DarkRed;
  stroke-opacity: 0.5;
  stroke-width: 6;
}

#chat-window {
  height: 500px;
  margin-left: -25px;
  margin-right: -15px;
  position: relative;
  overflow: auto;
}

#chat-window .timestamp {
  float: left;
  margin-right: 5px;
  text-align: right;
  width: 60px;
}

#chat-window .username {
  color: black;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  overflow: hidden;
  text-align: right;
  width: 80px;
}

#chat-window .message {
  overflow: hidden;
}

#color-box {
  background-color: #1F3D5C;
  cursor: default;
}

h3 {
  color: red;
}