body {
  padding-top: 60px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group-addon {
  min-width: 100px;
}

.node {
  cursor: pointer;
}

#chat-window {
  height: 500px;
  position: relative;
  overflow: auto;
}

#chat-window .time {
  padding-right: 10px;
}

#chat-window .username {
  padding-right: 10px;
}

#color-box {
  background-color: blue;
  cursor: default;
}